@keyframes loading {
  0% {
    background-color: hsl(0, 0%, 15%);
  }

  50% {
    background-color: hsl(0, 0%, 18%);
  }

  100% {
    background-color: hsl(0, 0%, 15%);
  }
}

.BackgroundImage {
  height: 100% !important;
}
.Wrapper > div:last-child:not(.BackgroundImage) {
  z-index: 0;
  animation: loading 1.25s infinite;
  pointer-events: none;
}
.Wrapper > div:last-child:not(.BackgroundImage)::before {
  content: none;
}
