.partner-wrap {
  background-color: #e0e0e0;
}

.official_wrap {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: 100%;
  max-width: 1480px !important;
  padding-bottom: 50px;
}
.official_image {
  flex-grow: 1;
  overflow: hidden;
  background-color: #8d8d8d;
  width: 18%;
}
.official_image > img {
  width: 50px;
  cursor: pointer;
  display: block;
  padding: 18px 0;
  margin: auto;
}
.official_deal {
  background-color: #546e7a;
  color: #fff;
  text-align: center;
  padding: 4px 0;
}
